AuthType Basic
AuthName "Password Required"
AuthUserFile /etc/apache2/auth/passwords

<RequireAny>
    Require expr "%{REQUEST_URI} =~ m#^/tabs4steve(?:/|$)#"
    Require valid-user
</RequireAny>

DirectoryIndex index.php
